{% extends 'home_base.html.twig' %}

{% block title %}Vision Gastro{% endblock %}

{% block body %}
<section id='first_section'>
		<div id="ipad_headline"> 
			<h1>
				<span class="highlight">so</span> <br>
				<span class="highlight">individuell</span><br>
				<span class="highlight">wie dein</span><br>
				<span class="highlight"> Bussiness</span>
			</h1>
		</div>
		<div class='ipad' id='ipad'>
			<div class='ipad_head'>
				<div class='ipad_head_Itams'>
					10:30
				</div>
				<div class='ipad_head_Itams'>
					<i class="fa fa-signal"></i>
					80%
					<i class="fa fa-battery-three-quarters"></i>
				</div>
			</div>
			<div class='ipad_conten'>
			</div>
			<div class='ipad_footer'>
				<i class="fa fa-square"></i>
			</div>
		</div>
		

	</section>
	
    <section id='secend_section'>
		<div class='img' style="background-image: url({{asset('img/terrasse.jpg')}});">
            <div id="icons_headline"> 
                <h2 >
                    Deine Bed&uuml;rfnisse im Blick
                </h2>
            </div>
		</div>
		
		<div id="icons_left"> 
			<h2>
			<i class="fa fa-bed" aria-hidden="true"></i>
			<i class="fa fa-coffee" aria-hidden="true"></i>		
			<i class="fa fa-users" aria-hidden="true"></i>
			<i class="fa fa-comments" aria-hidden="true"></i>
			<i class="fa fa-calendar" aria-hidden="true"></i>
			</h2>
		</div>
		<div id='funktionen' class="bg-light pt-5"> 
			<div style='width:36rem;background:#2E2E2E;' class="card text-white  m-5 pt-5">
				<div class='card-head ' style='background:#2E2E2E;border-bottom: 1px solid;    margin: -30px 30px 0px;    padding-bottom: 10px;'><h4 class="card-title text-light">Personal Management</h4></div>
				<video class="card-img-top "  style='width: 90%;     margin: 5%; border: 7px solid #00ffff;    border-radius: 20px;'src="{{asset('clips/newUser.mp4')}}" autoplay muted loop></video>
				<div class="card-body " style='background:#2E2E2E;display:flex; flex-wrap: wrap;'>
					<div class="text-light " style='margin: 0px 15px;    max-width: 280px;'>
					<h5> Personalverwaltung war nochnie so liecht</h5>
					<p >
					mit unserer Personalverwalung haben die ihr team im griff und haben zeit für Ihr Geschäft
					</p>
					</div>
					<ul class="text-light " style='margin: 0px 30px 10px 0px;border-left: 1px solid;max-width: 200px;'>
						<li  class="list-item  ">Mitarbeiter Verwaltung</li>
						<li  class="list-item ">Dienstplanung</li>
						<li  class="list-item  ">Zeiterfassung</li>
						<li  class="list-item ">Dienstplanung</li>
						<li  class="list-item  ">Zeiterfassung</li>
					</ul>
				</div>
			</div>
			<div style='width:36rem; background:#2E2E2E;' class="card text-white  m-5 pt-5">
				<div class='card-head ' style='background:#2E2E2E;border-bottom: 1px solid;    margin: -30px 30px 0px;    padding-bottom: 10px;'><h4 class="card-title text-light">Gästeverwaltung</h4></div>
				<video class="card-img-top "  style='width:90%;    margin: 5%; border: 7px solid #00ffff;    border-radius: 20px;'src="{{asset('clips/AreaLayout.mp4')}}" autoplay muted loop></video>
				<div class="card-body " style='background:#2E2E2E;display:flex; flex-wrap: wrap;'>
					<div class="text-light " style='margin: 0px 15px;    max-width: 280px;'>
					<h5> Gästeverwaltung von Morgen</h5>
					<p >
					Ob Restaurant oder Beherbergung,danke der Individuell anpassbaren oberfläche können sie sowohl Beherbergung als auch Gastronomie damit Ihre Gäste und Zimmer oder Tische verwalten.
					</p>
					</div>
					<ul class="text-light " style='margin: 0px 30px 10px 0px;border-left: 1px solid;max-width: 200px;'>
						<li  class="list-item  ">Grafische POS Oberfläche</li>
						<li  class="list-item ">Individuell anpassbare</li>
						<li  class="list-item  ">Online reservierungen</li>
						<li  class="list-item ">Öffnungszeiten individuell anpassbar</li>
						<li  class="list-item  ">Schittstellen Wordpress, Googel usw.</li>
					</ul>
				</div>
				
			</div>
		</div>
			<div id="icons_headline_2"> 
			<h2>Die L&ouml;sung die Mitw&auml;chst</h2>
		</div>
		
		
	</section>
<section style ='   overflow: hidden'>
        <div id='features' class="w-100 pt-5" style='background:#2E2E2E;'> 
            <h3 class="card-title text-info text-center">Features</h3> 
            <div class='d-flex mt-5 flex-wrap justify-content-sm-center'> 
                <ul class="list-group" >
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        Gästerestervierung über Vision Gastro
                        <span class="text-success"><i class="fa fa-check" aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Gästerestervierung über Wordpress Plugin
                        <span class="text-success"><i class="fa fa-check" aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        Mitarbeiterverwalung 
                        <span class="text-success"><i class="fa fa-check" aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        Zeiterfassung per GEO-Localisierung über das Smartphone
                        <span class="text-success"><i class="fa fa-check" aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Fehlzeitenerfassung erfassung 
                        <span class="text-success"><i class="fa fa-check" aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        Dienstplan erstellung per One Click
                        <span class="text-success"><i class="fa fa-check" aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        API anbindung Googel Reseravation
                        <span class=""><i class="fa text-warning p-1 border rounded border-warning" style="font-size:0.5rem; " aria-hidden="true">BETA</i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        News feed für sozialenetzwerke und Wordpress
                        <span class=""><i class="fa text-warning p-1 border rounded border-warning" style="font-size:0.5rem; " aria-hidden="true">BETA</i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        API anbindung Googel Reseravation
                        <span class=""><i class="fa text-warning p-1 border rounded border-warning" style="font-size:0.5rem; " aria-hidden="true">BETA</i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        News feed für sozialenetzwerke und Wordpress
                        <span class=""><i class="fa text-warning p-1 border rounded border-warning" style="font-size:0.5rem; " aria-hidden="true">BETA</i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        API anbindung Googel Reseravation
                        <span class=""><i class="fa text-warning p-1 border rounded border-warning" style="font-size:0.5rem; " aria-hidden="true">BETA</i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        News feed für sozialenetzwerke und Wordpress
                        <span class=""><i class="fa text-warning p-1 border rounded border-warning" style="font-size:0.5rem; " aria-hidden="true">BETA</i></span>
                    </li>
                </ul>
                <ul class="list-group" >
                    
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        Urlaubsplaner
                        <span class=""><i class="fa text-warning p-1 border rounded border-warning" style="font-size:0.5rem; " aria-hidden="true">BETA</i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        Digitale Speisekarte mit Onlineshop
                        <span class=""><i class="fa text-warning p-1 border rounded border-warning" style="font-size:0.5rem; " aria-hidden="true">BETA</i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Küchenmonitor
                        <span class=""><i class="fa text-warning p-1 border rounded border-warning" style="font-size:0.5rem; " aria-hidden="true">BETA</i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        E-Lerning
                        <span class=""><i class="fa text-warning p-1 border rounded border-warning" style="font-size:0.5rem; " aria-hidden="true">BETA</i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        API anbindung Googel Reseravation
                        <span class=""><i class="fa text-danger p-1 border rounded border-danger" style="font-size:0.5rem; " aria-hidden="true">COMING SOON</i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        News feed für sozialenetzwerke und Wordpress
                        <span class=""><i class="fa text-danger p-1 border rounded border-danger" style="font-size:0.5rem; " aria-hidden="true">COMING SOON</i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        API Jobportal - Stellenauschreibungen
                        <span class=""><i class="fa text-danger p-1 border rounded border-danger" style="font-size:0.5rem; " aria-hidden="true">COMING SOON</i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Warenwirtschaft
                        <span class=""><i class="fa text-danger p-1 border rounded border-danger" style="font-size:0.5rem; " aria-hidden="true">COMING SOON</i></span>
                    </li>
                     <li class="list-group-item d-flex justify-content-between align-items-center ">
                        API Jobportal - Stellenauschreibungen
                        <span class=""><i class="fa text-danger p-1 border rounded border-danger" style="font-size:0.5rem; " aria-hidden="true">COMING SOON</i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Warenwirtschaft
                        <span class=""><i class="fa text-danger p-1 border rounded border-danger" style="font-size:0.5rem; " aria-hidden="true">COMING SOON</i></span>
                    </li>
                     <li class="list-group-item d-flex justify-content-between align-items-center ">
                        API Jobportal - Stellenauschreibungen
                        <span class=""><i class="fa text-danger p-1 border rounded border-danger" style="font-size:0.5rem; " aria-hidden="true">COMING SOON</i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Warenwirtschaft
                        <span class=""><i class="fa text-danger p-1 border rounded border-danger" style="font-size:0.5rem; " aria-hidden="true">COMING SOON</i></span>
                    </li>
                </ul>
            </div>
        </div>
</section>
<section style =' position:relativ; Flex-wrap:wrap; overflow: hidden'>
        </div>
			<div id="icons_headline_3" style="   margin-left: -20rem; "> 
			<h2>Steuer dein Bussiness <br>jetzt richtung Erfolg</h2>
		</div>
        <div id='funktionen' class="w-100 pt-5" style='background:#2E2E2E; '>     
            <div  class="card w-100 text-dark bg-light m-5 pt-5">
                <div class='card-head bg-light ' style='border-bottom: 1px solid;    margin: -30px 30px 0px;    padding-bottom: 10px;'>
                    <h4 class="card-title text-dark">Jetzt BETA-Tester werden</h4>
                </div>
                <div class="card-body bg-light" >
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
            
                
            </div>
            </div>
                
        </div>
</section>
{% endblock %}




