{% extends 'base.html.twig' %}

{% block title %}
	{{objekts[0].company.name}}
{% endblock %}

{% block body %}
	<!-- Modal -->
	<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"></h5>
					<button type="button" id="modalCloseBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()"></button>
				</div>
				<div
					class="modal-body" id="modal-body"><!-- Hier wird der Inhalt von app_user_contrect geladen -->
				</div>
			</div>
		</div>
	</div>

	<div class='d-flex'>
		<a class=" text-info " href="{{ path('app_company_edit', {'id': objekts[0].company.id}) }}">
			<h1>{{objekts[0].company.name }}</h1>
		</a>

		<a class="" href="{{ path('app_objekt_new') }}">
			<i class="fas fa-plus"></i>
		</a>
	</div>
	<div class="container">
		{% for objekt in objekts %}
			<div class="card object-setting">
				{% if objekt.bild is null %}

					<i class="fas fa-image"></i>
				{% else %}
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}

						<img class="card-img-top" style='max-height: 250px; object-fit: cover;position:relative' src="{{ asset('images/' ~ objekt.bild) }}" alt="Objekt Foto">
						<!--<button onclick="delateImage('{{ objekt.bild }}')" type="button" style="position: absolute; right: 0; margin: 10px; border: none; background: none;" class="fas fa-trash text-danger"></button>-->
					{% else %}
						<i class="fas fa-image"></i>
					{% endif %}
				{% endif %}
				<div class='infos'>
					<h5>{{ objekt.categories }}</h5>
					<div class='d-flex'>
						<h4 class="card-title">{{ objekt.name }}</h4>

					</div>
					<p class="card-text">{{ objekt.adresse }},{{ objekt.plz }}
						{{ objekt.ort }}
						<br>Telefon:
						{{ objekt.telefon }}
						<br>Email:
						{{ objekt.mainMail }}</p>
				</div>
				<div class="card-body p-0 d-flex justify-content-around flex-wrap control-wrapper mt-2" >


					<div class="container d-flex justify-content-around flex-wrap  control-panel">
						<a href="{{ path('app_objekt_edit', {'id': objekt.id}) }}">
							<div class="card  m-1 text-center">
								<div class="card-header glass-effect">
									Einstellung
								</div>
								<div class='card-body border-top'>
									<i class="object-icon fa fa-cog " ></i>
								</div>
							</div>
						</a>

						<a href="{{ path('app_objekt_opening', {'id': objekt.id}) }}">
							<div class="card  m-1 text-center">
								<div class="card-header glass-effect">
									Öffnungszeiten
								</div>
								<div class='card-body border-top'>
									<i class="object-icon fa fa-clock " ></i>
								</div>
							</div>
						</a>

						<a href="{{ path('app_item_categories_index', {'objectId':objekt.id }) }}">
							<div class="card  m-1 text-center">
								<div class="card-header glass-effect">
									Kategorien
								</div>
								<div class='card-body border-top'>
									<i class="object-icon fa fa-archive " ></i>
								</div>
							</div>
						</a>

						{% if objekt.categories == 'Restaurant' %}
							<a href="{{ path('rent_items', {'id': objekt.id}) }}">
								<div class="card  m-1 text-center">
									<div class="card-header glass-effect">
										Reviere & Tische
									</div>
									<div class='card-body border-top'>
										<i class="object-icon fa fa-cutlery " ></i>
									</div>
								</div>
							</a>

						{% else %}
							<a href="{{ path('rent_items', {'id': objekt.id}) }}">
								<div class="card  m-1 text-center">
									<div class="card-header glass-effect">
										Etagen & Zimmer
									</div>
									<div class='card-body border-top'>
										<i class="object-icon fa fa-bed " ></i>
									</div>
								</div>
							</a>

						{% endif %}
						<a href="#" onclick="openModal_objekt_dienstplan({{ objekt.id }})">
							<div class="card  m-1 text-center">
								<div class="card-header glass-effect">
									Dienstplan
								</div>
								<div class='card-body border-top'>
									<i class="object-icon fa fa-calendar" aria-hidden="true" ></i>
								</div>
							</div>
						</a>

						<a href="#" onclick="openModal_objekt_vertrag({{ objekt.id }})">
							<div class="card  m-1 text-center">
								<div class="card-header glass-effect">
									Verträg & Vereinbarungen
								</div>
								<div class='card-body border-top'>
									<i class="object-icon fa fa-file" ></i>
								</div>
							</div>
						</a>


					</div>
				</div>


			</div>
		{% endfor %}
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
 <script src="{{ asset('js/modal.js') }}"></script>
	 <script>
				
				    
				    const sa = document.getElementById('datalte_image');
				    function delateImage(bild){
				       
				        DelateObjektImage(bild);
				        
				    } 
				    
				
				
				    </script>


{% endblock %}
