{% extends 'base.html.twig' %}

{% block title %}Öffnungszeiten{% endblock %}

{% block body %}


    <div class="container">
        <div class='d-flex'><h1>Öffnungszeiten</h1> <a href=''data-toggle="collapse" data-target="#new_times" ><i class="fa fa-plus btn btn-secondary" ></i></a></div>
       <div class="card text-center">
         
         <div class="card-body collapse" id='new_times'>
           <h4 class="card-title">Öffnungszeiten anlegen</h4>
            {{ form_start(form) }}
            
                {{ form_label(form.day) }}{{ form_widget(form.day) }}
               {{ form_label(form.start) }} {{ form_widget(form.start) }}
               {{ form_label(form.end) }} {{ form_widget(form.end) }}
               <div style='display:none' >{{ form_widget(form.effective_date) }}</div>
                <div style='display:none;'> {{ form_widget(form.objekt) }}</div>
                <button class="w-100  d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default('Speichern') }}</button>
           
            {{ form_end(form) }}
         </div>
       </div>
       
    </div>
    <div class="container">
        
        <table class="table">
            <thead>
                <tr>
                    <th>Wochentag</th>
                    <th>öffnen</th>
                    <th>schließen</th> 
                </tr>
            </thead>
            <tbody>
                {% for openingTime in openingTimes %}
                <tr>
                
                    {% if openingTime.day == 0 %}
                        <td>Sonntag</td>
                    {% endif %}
                    {% if openingTime.day == 1 %}
                        <td>Montag</td>
                    {% endif %}
                    {% if openingTime.day == 2 %}
                        <td>Dienstag</td>
                    {% endif %}
                    {% if openingTime.day == 3 %}
                        <td>Mitwoch</td>
                    {% endif %}
                    {% if openingTime.day == 4 %}
                        <td>Donnerstag</td>
                    {% endif %}
                    {% if openingTime.day == 5 %}
                        <td>Freitag</td>
                    {% endif %}
                    {% if openingTime.day == 6 %}
                        <td>Samstag</td>
                    {% endif %}
                
                    <td>{{ openingTime.start |date('H:i')  }}</td>
                    <td>{{ openingTime.end |date('H:i') }}</td>
                
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 <div class="container">

 <div class='d-flex'><h1>Sonderöffnungszeiten</h1> <a href=''data-toggle="collapse" data-target="#new_Stimes" ><i class="fa fa-plus btn btn-secondary" ></i></a></div>
       <div class="card text-center">
         
         <div class="card-body collapse" id='new_Stimes'>
           <h4 class="card-title">Sonderöffnungszeiten anlegen</h4>
            {{ form_start(Sform) }}
                {{ form_label(Sform.day) }} {{ form_widget(Sform.day) }}
                {{ form_label(Sform.start) }} {{ form_widget(Sform.start) }}
               {{ form_label(Sform.end) }}  {{ form_widget(Sform.end) }}
                {{ form_label(Sform.close) }} {{ form_widget(Sform.close) }}
                <button class="w-100  d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default('Speichern') }}</button>
            {{ form_end(form) }}
         </div>
       </div>

<div class="container">

</div>
   <table class="table">
        <thead>
            <tr>
               
                <th>Tag</th>
                <th>offen</th>
                
                <th>Aktion</th>
                
            </tr>
        </thead>
        <tbody>
{% for SpecialOpeningTime in SpecialOpeningTimes %}
            <tr>
                 <td>{{ SpecialOpeningTime.day |date('d.m.Y')}}</td>
                {% if SpecialOpeningTime.close ==1 %}
                
                <td>close</td>
                {% else %}
                <td>{{ SpecialOpeningTime.start |date('H:i')  }} - {{ SpecialOpeningTime.end |date('H:i') }}</td>
                
                {% endif %}
                <td> 
                 <a href="{{ path('app_objekt_opening_delat', {'id': SpecialOpeningTime.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
                
            </tr>
{% endfor %}
        </tbody>
    </table>
 </div>


{% endblock %}
