



{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
    <style>
    
        #table-div-container {
			width: 600px;
			overflow: hidden;
            margin:auto;
            border-radius:15px;
		}
		#table-wrapper {
			width: 1425px;
			position: relative;
			left: 0;
			transition: left 0.5s ease;
		}
		#table-wrapper table {
			width: 600px;
			border-collapse: collapse;
		}
		#table-wrapper tr{
            border:2px solid gainsboro;
        }
		#table-wrapper th, #table-wrapper td {
			padding: 4px;
			
			text-align: center;
            min-width:75px;
		
		}
      
        
        label{display:none !important;}
       
        th:first-child, td:first-child {
            position: sticky;
            z-index: 1;
            left: 0;
            background-color: #f2f2f2;
            min-width:100px;
        }
        .dienste{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    </style>
{% endblock %}
{% block title %}Dienstplan{% endblock %}

{% block body %}

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" id="modalCloseBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()"></button>
            </div>
            <div class="modal-body" id="modal-body">
                <!-- Hier wird der Inhalt von app_user_contrect geladen -->
            </div>
        </div>
    </div>
</div>
{% set currentWeek =  "now"|date('W', 'Europe/Berlin') %}
{% set currentYear = "now"|date('Y', 'Europe/Berlin') %}
{% set monday = currentYear ~ "-W" ~ currentWeek ~ "-0" %}
{% set previousWeek = "now"|date_modify('-1 week')|date('W', 'Europe/Berlin') %}
{% set previousMonday = currentYear ~ "-W" ~ previousWeek ~ "-0" %}
{% set nextWeek = "now"|date_modify('+1 week')|date('W', 'Europe/Berlin') %}
{% set nextMonday = currentYear ~ "-W" ~ nextWeek ~ "-0" %}

{% set sunday = monday|date_modify("+6 days") %}
{% set previousWeek = "now"|date_modify('-1 week')|date('W', 'Europe/Berlin') %}
{% set previousSunday = previousMonday|date_modify("+6 days") %}
{% set nextWeek = "now"|date_modify('+1 week')|date('W', 'Europe/Berlin') %}
{% set nextSunday = nextMonday|date_modify("+6 days") %}
    <h1>Dienstplan {{ dienstplan.bezeichnung }}</h1>
   
<div id='table' > 
<div id="table-div-container">
		<div id="table-wrapper">
<table id='table-container'>
    <thead>
    <tr>
        <th id='btn_area'>
            <button id="prev-button" class='btn btn-info'><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
            <button id="next-button" class='btn btn-info'><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </th>
        {% for day in 0..20 %}
            {% set date = monday|date_modify("+" ~ (day -6) ~ " days") %}
            {% set backgroundColor = "" %}
            {% set event = "" %}
            {% if date|date("Y-m-d") == "now"|date("Y-m-d") %}
                {% set backgroundColor = "lightgreen" %}
            {% elseif date|date("N") == 6 %}
                {% set backgroundColor = "silver" %}
            {% elseif date|date("N") == 7 %}
                {% set backgroundColor = "gray" %}
            {% endif %}
            {% for holidayDate, holidayName in holidays %}
                {% if date|date("Y-m-d") == holidayDate %}
                    {% set backgroundColor = "lightcoral" %}
                     {% set event = holidayName %}
                {% endif %}
            {% endfor %}
            <th style="background-color: {{ backgroundColor }};">{{ date|date("D") }}<br>{{ date|date("d.M") }}<br><small><small><small>{{event}}</small></small></small></th>
        {% endfor %}
    </tr>
</thead>
    <tbody>
        {% for user in users %}
            <tr>
                <th >{{ user.vorname }} {{ user.nachname }}</th> 
                {% for day in 0..20 %}
                    {% set date = monday|date_modify("+" ~ (day -6) ~ " days") %}
                    {% set backgroundColor = "" %}
                    {% if date|date("Y-m-d") == "now"|date("Y-m-d") %}
                        {% set backgroundColor = "lightgreen" %}
                    {% elseif date|date("N") == 6 %}
                        {% set backgroundColor = "silver" %}
                    {% elseif date|date("N") == 7 %}
                        {% set backgroundColor = "gray" %}
                    {% endif %}
                    {% for holidayDate, holidayName in holidays %}
                        {% if date|date("Y-m-d") == holidayDate %}
                            {% set backgroundColor = "lightcoral" %}
                        {% endif %}
                    {% endfor %}
                    <td style="background-color: {{ backgroundColor }};">
                        {% for dienst in dienstplan.dienste %}    
                            {% if dienst.user == user and date|date("Y-m-d") == dienst.kommen|date("Y-m-d") %} 
                                <div class="card text-left">
                                    <div class="card-body " style='padding:5px;'>
                                        {{ dienst.kommen | date("H:i") }}  {{ dienst.gehen | date("H:i") }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
  
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    
   <!-- <script src="{{ asset('js/modal.js') }}"></script>-->
 <script>
    $( document ).ready(function() {
        var tableWrapper = $('#table-wrapper');
        var tableContainer = $('#table-div-container');
        var tableWidth = tableWrapper.width();
        var visibleWidth = tableContainer.width();
        var pos = 0 ;
        var btn_area = $('#btn_area').width();
        pos -= visibleWidth-btn_area-10;
        tableWrapper.css('left', pos);
        $('#prev-button').click(function() {
            if (pos < 0) {
                pos += visibleWidth-btn_area-10;
                tableWrapper.css('left', pos);
            }
        });
        $('#next-button').click(function() {
            if (pos > -(tableWidth - visibleWidth)) {
                pos -= visibleWidth-btn_area-10;
                tableWrapper.css('left', pos);
            }    
        });
    })
 </script>
{% endblock %}
