

{% block body %}
    <h1>Vertragsdaten</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contract_datum.id }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ contract_datum.startDate ? contract_datum.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>SingDate</th>
                <td>{{ contract_datum.singDate ? contract_datum.singDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Lohn</th>
                <td>{{ contract_datum.lohn }}</td>
            </tr>
            <tr>
                <th>Stunden</th>
                <td>{{ contract_datum.stunden }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ contract_datum.endDate ? contract_datum.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Urlaub</th>
                <td>{{ contract_datum.Urlaub }}</td>
            </tr>
            <tr>
                <th>Bezeichnung</th>
                <td>{{ contract_datum.bezeichnung }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contract_data_index') }}">back to list</a>

    <a href="{{ path('app_contract_data_edit', {'id': contract_datum.id}) }}">edit</a>

    
{% endblock %}
