{% extends 'base.html.twig' %}

{% block title %}Discount{% endblock %}

{% block body %}
    <h1>Discount</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ discount.id }}</td>
            </tr>
            <tr>
                <th>Titel</th>
                <td>{{ discount.titel }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ discount.value }}</td>
            </tr>
            <tr>
                <th>Conditions</th>
                <td>{{ discount.conditions }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_discount_index') }}">back to list</a>

    <a href="{{ path('app_discount_edit', {'id': discount.id}) }}">edit</a>

    {{ include('discount/_delete_form.html.twig') }}
{% endblock %}
