{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block title %}Zeiterfassung{% endblock %}

{% block body %}
    <table class='table'>
        <thead>
            <tr>
                <th>User</th>
                <th>Datum</th>
                <th>Kommen</th>
                <th>Gehen</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for arbeitszeit in arbeitszeiten %}
                {{ form_start(form[arbeitszeit.id]) }}
                <tr>
                    <td><p>{{ arbeitszeit.user.vorname }}</p></td>
                    <td><p>{{ arbeitszeit.datum|date('d.m.Y') }}</p></td>
                    <td>{{ form_row(form[arbeitszeit.id].Eintrittszeit, {'label': false}) }}</td>
                    <td>{{ form_row(form[arbeitszeit.id].Austrittszeit, {'label': false}) }}</td>
                    <td><p>{{ form_widget(form[arbeitszeit.id].save, {'label': "save", 'attr': {'id': 'save-' ~ arbeitszeit.id, 'name': 'form_' ~ arbeitszeit.id}}) }}</p></td>
                </tr>
                {{ form_end(form[arbeitszeit.id]) }}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
 
  <script>
  $(document).ready(function(){
  
$('.mb-3').removeClass('mb-3');
  });

</script>
{% endblock %}