{% extends 'base.html.twig' %}

{% block title %}Vertrag bearbeiten{% endblock %}
{% block stylesheet %}
{{ parent() }}
<style>
span{
    boder: 1px solid red; 
    
}
</style>
{% endblock %}
{% block body %} 
    <h1>Vertrag bearbeiten</h1>

    {{ form_start(form) }}
        {{ form_row(form.titel) }}
        {{ form_row(form.discription) }}
        {{ form_row(form.objekt) }}
        {{ form_row(form.text) }}
        <div class="form-group">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#varModal">
      Variablen einfügen
    </button>
        <button type="submit" class="btn btn-primary">Speichern</button>
        </div>
    {{ form_end(form) }}
     <!-- Modal -->
    <div class="modal fade" id="varModal" tabindex="-1" role="dialog" aria-labelledby="varModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="varModalLabel">Variablen einfügen</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Klicken Sie auf eine Variable, um sie in den Vertragstext einzufügen:</p>
            
            {% for variable in variablen %}
                 <a href="#" class="variable" onclick="addVariable('{{variable.var}}')">{{variable.name}}</a>
             {% endfor %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
        </div>
        </div>
        </div>
    </div>




{% endblock %}
{% block javascripts %}
{{  parent() }}
<script>
$(document).ready(function(){

});
        function addVariable(variable){
                       
                        
                        
                        var string =  '#<span style="background:red;    padding: 3px;    border-radius: 5px;" >'+variable+'</span>#</p>'
                        
                       // CKEDITOR.instances.form_text.insertText(string);
                        var editor = CKEDITOR.instances.form_text;
                        var content = editor.getData();
                        let lastIndex = content.lastIndexOf("</p>");
                        if (lastIndex !== -1) {
                         content = content.substring(0, lastIndex);
                        }
                        content = content+string;
                        editor.setData(content);
                        
                        $('#varModal').modal('hide');
        }
  
</script>
{% endblock %}