{% extends 'base.html.twig' %}

{% block title %}Edit RentItems{% endblock %}
{% block javascripts %}
{{ parent() }}
  <script src="{{asset('js/jquery-3.6.3.min.js')}}"></script>    
    <script src="{{asset('js/jquery-ui.min.js')}}"></script> 
     <script src="{{asset('js/jquery.ui.touch-punch.js')}}"></script>  
        <script>
            
        $(document).ready(function() {
            $('.container').removeClass( "container" );
            $('.container').addClass('container-fluid')
        $(".page").hide();
        $(".page").first().show();
         $( "#dialog" ).dialog({
                  autoOpen: false,
                  closeText: "",
                   position:{ my: "center", at: "top", of: window },
                   autoResize: true,
                  show: {
                    autoOpen: true,
                    effect: "blind",
                    duration: 1000,
                   
                  },
                  hide: {
                    autoOpen: false,
                    effect: "explode",
                    duration: 1000
                  },
                  
       });
        $("#new_item").click(function(event) {
                    // Verhindern, dass der Link ausgef端hrt wird
                    event.preventDefault();
                    var objekt =  $("#new_item").attr('data-objket');
                    
                    $("#dialog").dialog("open");
                    
                    $.ajax({
                        type:  'POST',
                        url: '{{path('ajax_item_form')}}',
                        data: {
                                objketId: objekt,
                            },
                        
                        success: function(response) {
                            $("#ui-id-1").html("Itam anlegen");
                            $("#dialog").html(response);
                        }
                    });

                    



                    
        });
         $(".area_btn").on('dblclick',function(event) {
                    // Verhindern, dass der Link ausgef端hrt wird
                    event.preventDefault();
                    $("#dialog").dialog("open");
                   
                    $.ajax({
                        type:  'POST',
                        url: '{{path('ajax_area_form_edit')}}',
                        data: {
                                id: $(this).attr('href'),
                            },
                        
                        success: function(response) {
                            $("#ui-id-1").html("Area bearbeiten");
                            $("#dialog").html(response);
                        }
                    });         
        });
        $("#new_area").click(function(event) {
                    // Verhindern, dass der Link ausgef端hrt wird
                    event.preventDefault();
                    $("#dialog").dialog("open");
                    $.ajax({
                     type: "POST",
                    url: "{{path('ajax_area_form')}}",
                    data: {
                        'objket': {{objket.id}},
                    },
                    success: function(response) {
                            $("#ui-id-1").html("Area anlegen");
                           $("#dialog").html(response);
                            
                        }
                    });         
        });
        $(".area_btn").click(function(event) {
                    // Verhindern, dass der Link ausgef端hrt wird
                    event.preventDefault();

                    // Alle Div-Elemente ausblenden
                    $(".page").hide();
                    var showelement = "#"+$(this).attr("href");
                    console.log(showelement);
                    // Div mit der ID, die dem "href"-Attribut des Links entspricht, einblenden
                    $("#"+$(this).attr("href")).show();
        });
        $(".tabel").on('dblclick',function(event) {
             $("#dialog").dialog("open");
            var item = $(this).attr('id');
            $.ajax({
                type: "POST",
                url: "{{path('ajax_item_edit')}}",
                data: {
                    'item': item,
                },
                dataType: "text",
                success: function(data) {
                   $("#dialog").html(data);  
                   $("#ui-id-1").html("Item bearbeiten");
                },  
                error : function(xhr, textStatus, errorThrown) {  
                    alert('Ajax request failed delate.');
                }
            });
        });
        
        $(".page").resizable({
            stop: function(event, ui) {
                var page = $(this);
                var id = page.attr('id');
                var width = page.css('width');
                var height = page.css('height');
                $.ajax({
                type: 'POST',
                url: '{{ path('update_size_page', {'id': 1}) }}',
                data: {
                    id: id,
                    width: width,
                    height: height,
                },
                success: function() {
                     console.log(id);
                    console.log(height);
                    console.log(width);
                }
                });
            }
        });
        $(".tabel").resizable({
            start: function(event, ui){
                
            },

            stop: function(event, ui) {
                
                        $.ajax({
                            type: 'POST',
                            url: '{{ path('update_size_item', {'item': 1}) }}',
                            data: {
                                id: $(this).attr('id'),
                                width: $(this).css('width'),
                                height: $(this).css('height'),
                            },
                            success: function() {
                                console.log('Size Item updated');
                                
                            }
                        });
            }
            
        });
        $('.tabel').draggable({
               
                stop: function(event, ui) {
                    $.ajax({
                        type: 'POST',
                        url: '{{ path('update_position', {'id': 2}) }}',
                        data: {
                            id: $(this).attr('id'),
                            top: $(this).css('top'),
                            left: $(this).css('left'),
                        },
                        success: function() {
                            console.log('Position updated');
                        
                        }
                    });
                }
        });
    });
    
    </script> 

       
         
        
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <style>
        .pt-5 {
            padding-top: 0rem!important;
        }
        .tabel{
            background-color:silver;
            opacity: 0.75;
           
        }    
        #tab_area{
               
                right: -100px;
                    width: 80px;
                   
                display: flex;
                flex-direction: column;
                border: 2px solid var(--primery-link-color);
                height: auto;
                border-radius: 15px;
        }
        .Item-header{
               background-color: var(--primery-link-color);
                border-radius: 12px 12px 0px 0px;
                text-align: center;
        }
        
        </style>
  
<div id="dialog"   style="position:relative;    z-index: 100;" title="">
<div id="dialog_content"></div>
 </div>
      <div id="area">  
    {% for Area in Areas %}
    <a class='btn btn-info area_btn' href="area_{{Area.id}}">{{Area.name}}</a>
    {% endfor %}
    <a href='' id="new_area" class=" btn btn-secondary" type="button"> <i class="fa fa-plus"> </i><b>Area</b></a>
    <a href='' id="new_item" class="btn btn-secondary" type="button" data-objket='{{objket.id}}'> <i class="fa fa-plus"></i><b>Itam</b> </a>
         
    </div>
    <div style="display:flex;">
        {% for Area in Areas %}
            <div class="page" id="area_{{Area.id}}" 
                {% if Area.size is not empty %} 
                    style="background-size: cover; background-image: url('{{asset('images/' ~ Area.map)}}'); height: {{ Area.size['height'] }}; width: {{ Area.size['width'] }};"
                {% else %} 
                    style="background-size: cover; background-image: url('{{asset('images/' ~ Area.map)}}'); height: 200px; width: 200px;"
                {% endif %}>
                
                                     
                    {% for rentItem in Area.RentItems %}
                        <div id="{{ rentItem.id }}" class="tabel" 
                            {% if rentItem.position is not empty and rentItem.size is not empty %} 
                                style="    border: 1px solid black;top: {{ rentItem.position['top'] }}; left: {{ rentItem.position['left'] }};height: {{ rentItem.size['height'] }}; width: {{ rentItem.size['width'] }};"
                            {% else %} 
                                style=" width: 100px; heigth:100px;      left: 5px;    border: 1px solid black;    "
                            {% endif %}>
                            {{ rentItem.name }}
                        </div>
                    {% endfor %}
                
            </div>
        {% endfor %}
 
         
                     
    </div>


{% endblock %}

