<!DOCTYPE html>
<html lang="de">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z430ZX8TVN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Z430ZX8TVN');
</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Gastro 2.0, Vision Gastro, Gamasy, Gästemanagement, Mitarbeiterverwaltung, Reservierungen, Hotellerie, Gastronomie, kostenlose Software, webbasierte Lösung">
  <meta name="description" content="Gamasy ist eine kostenlose webbasierte Softwarelösung für die Verwaltung von Mitarbeitern, Gästen und Reservierungen in der Hotellerie und Gastronomie. Optimiere deine Betriebsabläufe und steigere die Effizienz mit Gamasy. Jetzt kostenlos anmelden und loslegen.">
  <link rel="canonical" href="https://www.gamasy.de/">   
  <meta name="robots" content="index, follow"> 
  <title>{% block title %}Vision Gastro  - Kostenlose webbasierte Softwarelösung für Gästemanagement, Mitarbeiterverwaltung und Reservierungen in der Hotellerie und Gastronomie{% endblock %}</title>
  
		
		{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{asset('css/all.min.css')}}">
			<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
			<link rel="stylesheet" href="{{asset('css/home_style.css')}}">
        {% endblock %}
        {% block javascripts %}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollToPlugin.min.js"></script>
			<script src="{{asset('jquery-3.5.1.slim.min.js')}}" ></script>

		{{ encore_entry_script_tags('app') }}
 
        {% endblock %}

   

  
</head>
<body>
 
      <!-- Content -->
      
       
      
  
    <section id="full-screen">
		<div id='item_1'>
		<div style='width:100%; height:33%;'><img class='item_text' id='item_text_1'src="{{asset('img/v.png')}}"></div>
		<div style='width:49%; height:33%;'></div>
		</div>
			<div id='item_2'>
			<div style='width:100%; height:33%;'></div>
			<div style='width:49%; height:33%;'><img class='item_text' id='item_text_2'src="{{asset('img/g.png')}}"></div>
		</div>
	
	</section>	
	
		<div style='position: sticky;top: 0px;z-index: 50;opacity: 0.92;'>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{path('home')}}"><img style='    height: 40px;' src="{{asset('img/logo_white.png')}}" class='logo'></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{path('home')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('features')}}">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('contact')}}">Contact</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
      {% if is_granted('IS_AUTHENTICATED_FULLY')  %}
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ app.user.vorname }}
        </a>
        <div class="dropdown-menu" style="position: absolute;    margin: 0px 0px 0px -100px" aria-labelledby="userDropdown">
          
          <a class="dropdown-item" href="{{path('app_logout')}}">Logout</a>
          <a class="dropdown-item" href="{{path('app_user_index')}}">Settings</a>
        </div>
          
        {% else %}
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i>
        </a>
        <div class="dropdown-menu" style="position: absolute;    margin: 0px 0px 0px -100px" aria-labelledby="userDropdown">
          
          <a class="dropdown-item" href="{{path('app_login')}}">Login</a>
          <a class="dropdown-item" href="{{path('reg')}}">Registrieren</a>
        </div>
        <!-- alt -->
        
        {% endif %}
      </li>
    </ul>
  </nav>
		</div>
	
    <section id='first_section'>
		<div class='ipad' id='ipad'>
			<div class='ipad_head'>
				<div class='ipad_head_Itams'>
					10:30
				</div>
				<div class='ipad_head_Itams'>
					<i class="fa fa-signal"></i>
					80%
					<i class="fa fa-battery-three-quarters"></i>
				</div>
			</div>
			<div class='ipad_conten'>
			</div>
			<div class='ipad_footer'>
				<i class="fa fa-square"></i>
			</div>
		</div>
		<div id="ipad_headline"> <h1>
		<span class="highlight">so</span> <br>
		<span class="highlight">individuell</span><br>
		<span class="highlight">wie dein</span><br>
		<span class="highlight"> Bussiness</span>
		</h1></div>

	</section>
	
    <section id='secend_section'>
		<div id="icons_headline"> 
			
		<h2 >
		Deine Bed&uuml;rfnisse im Blick
		</h2>
	
		</div>
		
		
		<div id="icons_left"> 
			<h2>
			<i class="fa fa-bed" aria-hidden="true"></i>
			<i class="fa fa-coffee" aria-hidden="true"></i>		
			<i class="fa fa-users" aria-hidden="true"></i>
			<i class="fa fa-comments" aria-hidden="true"></i>
			<i class="fa fa-calendar" aria-hidden="true"></i>
			</h2>
		</div>
		<div id='funktionen' class="bg-light pt-5"> 
			<div style='width:36rem;background:#2E2E2E;' class="card text-white  m-5 pt-5">
				<div class='card-head ' style='background:#2E2E2E;border-bottom: 1px solid;    margin: -30px 30px 0px;    padding-bottom: 10px;'><h4 class="card-title text-light">Personal Management</h4></div>
				<video class="card-img-top "  style='width: 90%;     margin: 5%; border: 7px solid #00ffff;    border-radius: 20px;'src="{{asset('clips/newUser.mp4')}}" autoplay muted loop></video>
				<div class="card-body " style='background:#2E2E2E;display:flex; flex-wrap: wrap;'>
					<div class="text-light " style='margin: 0px 15px;    max-width: 280px;'>
					<h5> Personalverwaltung war nochnie so liecht</h5>
					<p >
					mit unserer Personalverwalung haben die ihr team im griff und haben zeit für Ihr Geschäft
					</p>
					</div>
					<ul class="text-light " style='margin: 0px 30px 10px 0px;border-left: 1px solid;max-width: 200px;'>
						<li  class="list-item  ">Mitarbeiter Verwaltung</li>
						<li  class="list-item ">Dienstplanung</li>
						<li  class="list-item  ">Zeiterfassung</li>
						<li  class="list-item ">Dienstplanung</li>
						<li  class="list-item  ">Zeiterfassung</li>
					</ul>
				</div>
			</div>
			<div style='width:36rem; background:#2E2E2E;' class="card text-white  m-5 pt-5">
				<div class='card-head ' style='background:#2E2E2E;border-bottom: 1px solid;    margin: -30px 30px 0px;    padding-bottom: 10px;'><h4 class="card-title text-light">Gästeverwaltung</h4></div>
				<video class="card-img-top "  style='width:90%;    margin: 5%; border: 7px solid #00ffff;    border-radius: 20px;'src="{{asset('clips/AreaLayout.mp4')}}" autoplay muted loop></video>
				<div class="card-body " style='background:#2E2E2E;display:flex; flex-wrap: wrap;'>
					<div class="text-light " style='margin: 0px 15px;    max-width: 280px;'>
					<h5> Gästeverwaltung von Morgen</h5>
					<p >
					Ob Restaurant oder Beherbergung,danke der Individuell anpassbaren oberfläche können sie sowohl Beherbergung als auch Gastronomie damit Ihre Gäste und Zimmer oder Tische verwalten.
					</p>
					</div>
					<ul class="text-light " style='margin: 0px 30px 10px 0px;border-left: 1px solid;max-width: 200px;'>
						<li  class="list-item  ">Grafische POS Oberfläche</li>
						<li  class="list-item ">Individuell anpassbare</li>
						<li  class="list-item  ">Online reservierungen</li>
						<li  class="list-item ">Öffnungszeiten individuell anpassbar</li>
						<li  class="list-item  ">Schittstellen Wordpress, Googel usw.</li>
					</ul>
				</div>
				
			</div>
		</div>
			<div id="icons_headline_2"> 
			<h2>Die L&ouml;sung die Mitw&auml;chst</h2>
		</div>
		
		
	</section>
	{% block body %}{% endblock %}
	
	<div style='position: relative;bottom: -55px;width: 100%;color: #0dcaf0;text-align: center;'>
	<a class="navbar-brand" href="{{path('privacy')}}">Datenschutzerklärung</a>
	</div>
</body>
</html>


