{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
 <h1>Passwort ändern</h1>
{{ form_start(form) }}
{{ form_row(form.oldPassword) }}
{{ form_row(form.new_password) }}
{{ form_row(form.confirm_password) }}
{{ form_row(form.submit) }}
{{ form_end(form) }}
{% endblock %}
