{% extends 'base.html.twig' %}
{% block title %}User password reset{% endblock %}
{% block body %}
 <h1>Passwort 채ndern</h1>
 <p>auf Standard Password zur체cksetzen f체r 1 Stunde Password: <b data-key='{{user.id}}' id='spw'>{{user.company.sign}}1234</b></p>
{{ form_start(form) }}


{{ form_end(form) }}

<script>

  const form = document.getElementById('form_new_password').parentElement.parentElement; // W채hle dein Formular aus
   const modalBody = document.querySelector('.modal-body');
    document.getElementById('form_new_password').value = document.getElementById('spw').textContent
    modalBody.querySelector('nav').style.display = 'none';
    modalBody.querySelector('footer').style.display = 'none';
  
  form.addEventListener('submit', (event) => {
    event.preventDefault();
   
    const spw = document.getElementById('form_new_password').value;
     
    const url = `{{ path('app_user_passwordResetSave', {'id': user.id}) }}`;
     $.ajax({
                    type: "POST",
                    url: url,
                    data: {   
                            'spw': spw,
                           
                    },
                    dataType: "text",
                    success: function(data) {
                     window.location.reload();
                    }
            });  
     }); 
   
   
</script>
{% endblock %}