{% extends 'base.html.twig' %}

{% block body %}
<h1>{{data.titel}}</h1>
<h2>{{data.discription}}</h2>


  {% for contract in contracts %}
    <div class="contract d-none">
    
    {% set contractText = contract.text %}
      {% for userContractData in user.contractData  %}
        
        {% for variable in variablen %}
        
            {% set varName =  variable.var  %}
          
           

    {% if variable.entity == 'User' %}
            {% set varValue = attribute(user, varName) %}
    {% elseif variable.entity == 'ContractData' %}
            {% set varValue = attribute(userContractData, varName) %}
    {% endif %}

    {% set contractText = contractText|replace({(variable.var): varValue}) %}

     {% set contractText = contractText|replace({'red': 'none'}) %}
      {% set contractText = contractText|replace({'#': ''}) %}
      {% set contractText = contractText|replace({'5px': '0px'}) %}
      {% set contractText = contractText|replace({'3px': '0px'}) %}
         {% endfor %}

       
      {% endfor %} 
      {{ contractText|raw }}
    </div>
  {% endfor %}
  {{ form_start(form) }}
   {{ form_widget(form) }}
{{ form_end(form) }}
 <script>

    var contractElements = document.getElementsByClassName("contract");
   
    for (var i = 0; i < contractElements.length; i++) {
      var contractText = contractElements[i].innerHTML;
       
      contractText = contractText.replace(/<span style="background-color:yellow">([^<]+)<\/span>/g, '$1');
    
      contractElements[i].innerHTML = contractText;
      var editor = CKEDITOR.instances.form_text;
                
       editor.setData(contractText);       
    }
  </script>
{% endblock %}