{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" id="modalCloseBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()"></button>
            </div>
            <div class="modal-body" id="modal-body">
                <!-- Hier wird der Inhalt von app_user_contrect geladen -->
            </div>
        </div>
    </div>
</div>

    <h1>{{user.vorname}} {{user.nachname}} bearbeiten</h1>
<div class="group w-100 d-flex flex-wrap justify-content-around ">
    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link nav-link-user active" href="#" data-target="#Stammdaten">Stammdaten</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-user " href="#" data-target="#Vertragsdaten">Vertragsdaten</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-user" href="#" data-target="#Dokumente">Dokumente</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-user" href="#" data-target="#Dienstplan">Dienstplan</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-user" href="#" data-target="#fehlzeiten_card">Fehlzeiten</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-user" href="#" data-target="#Arbeitszeiten">Arbeitszeiten</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link-user" href="#" data-target="#role">Rechte</a>
    </li>
    </ul>
    
        <!-- Vertragsdaten-->
        <div class="card text-right w-100 d-none" id='Vertragsdaten'>
         <div class='card-head bg-info text-right' style='text-align: right;font-size: 1.5rem;' ></div>
            <div class="card-body">
                <h5>Vertragsdaten</h5>
               <a class='btn btn-sm btn-primary shadow-sm' id='new_contractData' href="#">
                <i class="fa fa-plus" aria-hidden="true"></i></a>
                    
                <table class="table w-100">
        
                    <thead>
                        <tr>  
                            <th>Bezei</th>
                            <th>Start</th>
                           
                            <th>Actions</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                    {% for contract in user.contractData %}
                        
                            
                            
                            {% if contract.status == 'aktiv' %}
                            <tr >
                            <td><a class='edit_contractData' data-contract='{{ contract.id }}' href="{{ contract.id }}">{{ contract.bezeichnung }}</a></td>
                             <td>{{ contract.startDate|date('Y-m-d') }}</td>
                            <td>  
                            <a href="#" onclick="openModal_user_status({{  contract.id }})">Status</a>
                            
                            
                            <br><a href="#" onclick="openModal({{ user.id }})">Drucken</a></td>
                            </tr>
                            {% else %}
                            <tr class="bg-secondary">
                            <td><a class='edit_contractData text-light' data-contract='{{ contract.id }}' href="{{ contract.id }}">{{ contract.bezeichnung }}</a></td>
                             <td>{{ contract.startDate|date('Y-m-d') }}</td>
                            <td> 
                            <a href="#" onclick="openModal_user_status({{  contract.id }})">Status</a>
                            <br><a href="#" class='text-light' onclick="openModal({{ user.id }})">Drucken</a></td> 
                            </tr>
                            {% endif %}
                            
                           
                       
                    
                    
                    {% endfor %}
                    </tbody>
                </table>
            
            </div>
        </div>
        <!-- Dokumente-->
        <div class="card text-right w-100 d-none" id='Dokumente'>
            <div class='card-head bg-info text-right' style='text-align: right;font-size: 1.5rem;'></div>
            <div class="card-body">
            <!-- hier soll die route #[Route('/{id}/document_show', name: 'app_user_document_list')] geladen werden -->
            {% include 'user/dokumente.html.twig' with {'id': user.id, 'dokumente': dokumente} %}
            </div>
        </div>
        <!-- Dienstplan-->
        <div class="card text-right w-100 d-none" id='Dienstplan'>
            <div class='card-head text-right bg-info' style='text-align: right;font-size: 1.5rem;'></div>
            <div class="card-body">
            <h5>Dienstplan</h5>
            <!-- hier soll die route #[Route('/{id}/document_show', name: 'app_user_document_list')] geladen werden -->
            <a class ='btn btn-sm btn-primary shadow-sm' href="#" onclick="openModal1({{ user.id }})"><i class="fa fa-plus" aria-hidden="true"></i></a>
            {% include 'user/dienstplan_show.html.twig' with {'id': user.id, 'dienstplans':user.dienstplans} %}
        
            </div>
        </div>
        <!-- fehlzeiten-->
        <div class="card text-right w-100 d-none" id='fehlzeiten_card' >
            <div class='card-head text-right bg-info' style='text-align: right;font-size: 1.5rem;'></div>
            <div class="card-body" id='fehlzeiten'>
            <!-- hier soll die route #[Route('/{id}/document_show', name: 'app_user_document_list')] geladen werden -->
           
            </div>
        </div>
        <!-- Role-->
        <div class="card text-right w-100 d-none" id='role'>
             <div class='card-head text-right bg-info' style='text-align: right;font-size: 1.5rem;'></div>
             <div class="card-body" id='role'>
           {{ render(url('edit_role', {'id': user.id })) }}
            </div>
            
        </div>
       
        <!-- Arbeitszeiten-->
         <div class="card text-right w-100 d-none" id='Arbeitszeiten'>
                     <div class='card-head text-right bg-info' style='text-align: right;font-size: 1.5rem;'></div>
             <div class="card-body" id='newArbeitszeiten'>
            
            <!-- hier soll die route #[Route('/{id}/document_show', name: 'app_user_document_list')] geladen werden -->
           {{ render(url('app_user_arbeitszeiten_edit', { 'id': user.id })) }}
            </div>
            <div class="card-body" id='arbeitszeiten'>
            
            <!-- hier soll die route #[Route('/{id}/document_show', name: 'app_user_document_list')] geladen werden -->
           {{ render(url('app_user_arbeitszeiten', { 'id': user.id })) }}
            </div>
        </div>
   
    <!-- Stammdaten-->
         <div class="card text-right w-100 " id='Stammdaten'>
                     <div class='card-head text-right bg-info' style='text-align: right;font-size: 1.5rem;'></div>
             <div class="card-body" id='Stammdaten_body'>
                {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
                
                
            </div>
        </div>
     </div>
    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/modal.js') }}"></script>
    <script>
    function printDocument(url) {
    window.open(url, '_blank', 'width=600,height=400');
}
 function sendDeleteRequest(dienstplan) {
    event.preventDefault();
    var user = {{user.id}};
    $.ajax({
            type: "POST",
            url: "{{path('app_dienstplan_remov')}}",
            data: {   
                    'user': user,
                    'dienstplan': dienstplan,
            },
            dataType: "text",
            success: function(data) {
              location.reload(); 
            }
        }); 
    
        }
        $(document).ready(function() {
            $('.delat_dokument').click(function(event) {
                event.preventDefault();
             var data = $(this).attr('delat-dokument-data');
             
                $.ajax({
                    type: "POST",
                    url: "{{ path('delate_dokument') }}",
                    data: {   
                        'id': data,
                    },
                    dataType: "text",
                    success: function(data) {
                        location.reload();
                       
                    }
                });
            });
            
            
            $('#new_contractData').click(function() {
                $.ajax({
                    type: "POST",
                    url: "{{ path('app_contract_data_new') }}",
                    data: {   
                        'userId': {{user.id}},
                    },
                    dataType: "text",
                    success: function(data) {
                        $("#modal-body").html(data);
                        $("#modal").modal("show");
                        
                        $('form[name="contract_data"]').submit(function(event){
                            event.preventDefault();
                            
                            var form_data = $(this).serialize();
                            $.ajax({
                               
                                type: "POST",
                                url: "{{ path('app_contract_data_new_save') }}",
                                data: form_data,
                                dataType: "text",
                                success: function(data) {
                                    location.reload();
                                      
                                           
                                }
                            }); 

                        });        
                     }
                }); 
            }); 
            $('.edit_contractData').click(function() {
                event.preventDefault();
                var contract = $(this).attr('href');
                console.log(contract);
                var url = '/contract/data/'+contract+'/edit/';
                $.ajax({
                    type: "GET",
                    url : url,
                    success: function(data) {
                        $("#modal-body").html(data);
                        $("#modal").modal("show");
                       
                        $('form[name="contract_data"]').submit(function(event){
                            event.preventDefault();
                            
                            var form_data = $(this).serialize();
                           
                            $.ajax({
                                type: "POST",
                                url: "{{path('app_contract_data_editSave')}}",
                                data: form_data,
                                
                                success: function(data) {
                                    location.reload();
                                      
                                           
                                }
                            }); 



                           

                        });       
                     }
                }); 
            });
            // handle nav link clicks
            $('.nav-link-user').click(function(event) {
                event.preventDefault();
                
                // remove active class from all nav links
                $('.nav-link-user').removeClass('active');
                
                // add active class to clicked nav link
                $(this).addClass('active');
                
                // hide all cards
                $('.card').addClass('d-none');
                
                // show target card
                $($(this).data('target')).removeClass('d-none');
            });

            // Füge das Schließen-Symbol zu jedem .card-head hinzu
            $('.card-head').each(function() {
                var closeButton = $('<i class="fa fa-times" aria-hidden="true"></i>');
                closeButton.css('cursor', 'pointer');
                closeButton.click(function() {
                    $(this).closest('.card').addClass('d-none');
                });
                $(this).append(closeButton);
            });
           
        });
        $.ajax({
            type: "POST",
            url: "{{path('app_arbeitszeit_fehlzeiten_add')}}",
            data: {   
                'id': {{user.id}},
            },
            dataType: "text",
            success: function(data) {
                $("#fehlzeiten").html(data);
                $('#fehlzeit_add_show_btn').click(function(){
                    $('#fehlzeit_add_show').toggle(1000);
                });
                $('#fehlzeit_pv_show_btn').click(function(){
                    $('#fehlzeit_pv_show').toggle(1000);
                });
                $('#fehlzeiten_form').submit(function(event){
                    event.preventDefault();
                    var form_data = $(this).serializeArray();
                    var data = {};
                    form_data.forEach(function(obj) {
                        var objname = obj.name.replace('form[', '');
                        objname = objname.replace(/\]/g, '');
                        objname = objname.replace(/\[/g, '_');
                        data[objname] = obj.value;
                    });
                    var von_month = data.von_month;
                    var von_day = data.von_day;
                    var von_year = data.von_year;
                    var von_date = von_year + '-' + von_month.toString().padStart(2, '0') + '-' + von_day.toString().padStart(2, '0');
                    var bis_month = data.bis_month;
                    var bis_day = data.bis_day;
                    var bis_year = data.bis_year;
                    var bis_date = bis_year + '-' + bis_month.toString().padStart(2, '0') + '-' + bis_day.toString().padStart(2, '0');
                    var fehlzeit = data.fehlzeit;
                    var userId = {{user.id}};
                     console.log("test");
                    $.ajax({
                        type: "POST",
                        url: "{{path('app_arbeitszeit_fehlzeiten_save')}}",
                        data: {   
                            'user': userId,
                            'fehlzeit': fehlzeit,
                            'von': von_date,
                            'bis': bis_date,
                        },
                        dataType: "text",
                        success: function(data) {
                          console.log(data); 
                        
                        }
                    }); 
                });
                
            }
        });   
        
        </script>               
{% endblock %}