{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User-Übersicht</h1>

    <table class="table">
        <thead>
            <tr><th>Vorname</th>
                <th>Nachname</th>
                <th>Objekt</th>
                
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                
                <td><a href="{{ path('app_user_edit', {'id': user.id}) }}">{{ user.vorname }}</a></td>
                <td><a href="{{ path('app_user_edit', {'id': user.id}) }}">{{ user.nachname }}</a></td>
                <td>{{ user.objekt   }}</td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
