{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>Stammdaten</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Personalnummer</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>
                <a class ="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"href="{{ path('changePassword') }}">Password ändern</a></td>
            </tr>
            <tr>
                <th>Vorname</th>
                <td>{{ user.vorname }}</td>
            </tr>
            <tr>
                <th>Nachname</th>
                <td>{{ user.nachname }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.adresse }}</td>
            </tr>
            <tr>
                <th>Strasse</th>
                <td>{{ user.strasse }}</td>
            </tr>
            <tr>
                <th>Plz</th>
                <td>{{ user.plz }}</td>
            </tr>
            <tr>
                <th>Ort</th>
                <td>{{ user.ort }}</td>
            </tr>
            <tr>
                <th>Land</th>
                <td>{{ user.land }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ user.telefon }}</td>
            </tr>
            <tr>
                <th>Steuernummer</th>
                <td>{{ user.Steuernummer }}</td>
            </tr>
            <tr>
                <th>Rentenversicherungsnummer</th>
                <td>{{ user.Rentenversicherungsnummer }}</td>
            </tr>
            <tr>
                <th>IBAN</th>
                <td>{{ user.IBAN }}</td>
            </tr>
            <tr>
                <th>Krankenkasse</th>
                <td>{{ user.Krankenkasse }}</td>
            </tr>
        </tbody>
    </table>

   
{% endblock %}
